.first{
    height: 55px;
    display: flex;
    align-items: center;
}



.nav-link{
font-weight: 600;
color: #00b1cd;
text-transform: capitalize;
}

.dropdown-menu{

    z-index: 2;
    top: 40px !important;
    max-height: 205px;
    overflow-y: auto;
    left: 10px !important;
 
}

.nav-link.line{
    text-decoration: underline;
    text-decoration-color: black;
    background-color: antiquewhite;
}

.dropdown-menu:hover{
 cursor: pointer;
}

.list {
margin-left: 4px;
 gap:25px;
 max-height: 130px;
 overflow-y: auto;
 text-decoration-line: none;

}
a{
    text-decoration-line: none;
    font-weight: 600;
    padding: 5px;
    width: 20%;
}

.second{
position: sticky;
z-index: 1;
}

.drop{
    position: relative;
    left: 10px;
}

.title{
    text-decoration: none;
    font-weight: 600;
    color: black;
    position: absolute;
    right: 0vw;
    font-size: 2.4vw;
    top: 0px;
    width: 62%
}


.logo{
    height: 3.3vw;
    width: 3vw;
    border-radius: 500px;
    border: 0.5px solid black;
    margin-bottom: 5px;
    margin-top: 4px;
}

.new{
width: 17px;
margin-left: 5px;
height: 8px;
font-size: 5px 

}

.title2{
    margin: 30px 0px 0px 30px;
    padding-top: 2px;
    color: black;
    text-transform: capitalize;

}


.nav-link:checked{
    /* color: black; */
    text-decoration: underline;
    text-decoration-color:black;
}


.btn-dark:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.result{
    margin: 30px;
    font-size: 20px;
}

.card-title{
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3; 
   -webkit-box-orient: vertical;

}

.pending{
    color: #00b1cd;
}

.active{
    color: black;
    /* text-decoration-line: underline; */
    border-bottom: 2px solid black;
   
}

/* [aria-current="page"]{
    text-decoration: underline;
    text-decoration-color:black;
} */